{% extends "base.html" %}
{% block title %}Mis Agendamientos{% endblock %}
{% block content %}
<h2>Mis Agendamientos </h2>
<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>ID</th>
      <th>user_id</th>
      <th>session_id</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    {% for b in bookings %}
    <tr>
      <td>{{ b.id }}</td>
      <td>{{ b.user_id }}</td>
      <td>{{ b.session_id }}</td>
      <td>{{ b.status }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="4">Sin agendamientos.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}