{% extends "base.html" %}
{% block title %}Registrar plan{% endblock %}

{% block content %}
<h2>Registrar plan </h2>

<form method="post" action="#">
  {% csrf_token %}

  <label for="name_plan"><strong>name_plan</strong></label><br>
  <input type="text" id="name_plan" name="name_plan" placeholder="Ej: oferta_black_friday" required>
  <br><br>

  <label for="mounthly_creditos"><strong>mounthly_creditos</strong></label><br>
  <input type="number" id="mounthly_creditos" name="mounthly_creditos" min="0" step="1" placeholder="Créditos por mes">
  <small style="color:#666; display:block; margin-top:4px;">
   
  </small>
  <br><br>

  <label style="display:flex; align-items:center; gap:8px;">
    <input type="checkbox" id="is_unlimited" name="is_unlimited" value="1">
    <strong>is_unlimited</strong>
  </label>

  <br><br>
  <button type="submit" disabled>Guardar</button>

</form>
{% endblock %}

